@font-face {
  font-family: 'Montserrat';
  src: url("/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Jakarta';
  src: url("/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'you';
  src: url("/Fonts/Birthstone/Birthstone-Regular.ttf");
}
@font-face {
  font-family: 'Nohemi';
  src: url("/Fonts/Nohemi/Nohemi-Regular-BF6438cc4d0e493.ttf");
}